<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Registrar Medico</h1>
  </div>
  <div class="row">
      <div class="col">
        <!---->
        <div class="form-group">
            <label>Identificacion:</label>
              <input style="width: 80%"[(ngModel)]="medico.id" class="form-control" placeholder="digite id" type="number" />
          </div>
        <div class="form-group">
            <label>Apellido:</label>
              <input style="width: 80%"[(ngModel)]="medico.apellido" class="form-control" placeholder="digite apellido " type="text" />
          </div>
        <div class="form-group">
            <label>Correo:</label>
              <input style="width: 80%"[(ngModel)]="medico.correo" class="form-control" placeholder="digite correo " type="text" />
          </div>
        <!---->
      </div>
      <div class="col">
        <!---->
        <div class="form-group">
            <label>Nombre:</label>
              <input style="width: 80%"[(ngModel)]="medico.nombre" class="form-control" placeholder="digite nombre" type="text" />
          </div>
        <div class="form-group">
            <label>Direccion:</label>
              <input style="width: 80%"[(ngModel)]="medico.direccion" class="form-control" placeholder="digite direccion " type="text" />
          </div>
        <div class="form-group">
            <label>Contraseña:</label>
              <input style="width: 80%"[(ngModel)]="medico.contrasena" class="form-control" placeholder="digite contraseña " type="text" />
          </div>
        <!---->
      </div>
    </div>


  <div class="form-group">
    <button (click)="add()" class="btn btn-primary">Registrar</button>
  </div>
  <div>
  </div>